.book-slider-root,
.book-slider-root #dragger,
.book-slider-root #ring,
.book-slider-root .img,
.book-slider-root .vignette {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  user-select: none;
}


.img { 
  position: absolute;
  width: 200px; 
  height: 300px; 
  border-radius: 10px;
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
  filter: brightness(1.4) contrast(1.05) saturate(1.1);
}

.book-slider-root {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background: #000000;
}

.book-slider-root .container,
.book-slider-root #ring,
.book-slider-root .img,
.book-slider-root .vignette,
.book-slider-root #dragger {
  position: absolute;
}

.book-slider-root .container {
  perspective: 2000px;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.book-slider-root .img {
  background-size: cover;
  background-position: center;
  /* border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.164); */
}

.book-slider-root .vignette {
  display: none;
}

.book-slider-root #dragger {
  inset: 0;
  cursor: grab;
}

.book-slider-root #dragger:active {
  cursor: grabbing;
}
